@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #d9d9d9;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.logo {
  width: 80px;
  height: 70px;
}
.link_header {
  display: flex;
  gap: 20px;
}
.link_header li {
  list-style: none;
}
.link_header a {
  color: black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid white;
}
.link_header li a {
  background: linear-gradient(black 0 0) var(--t, 50%) 100% / var(--d, 15%) 2px
    no-repeat;

  transition: 0.3s, background-position 0.3s 0.3s;
}
.link_header li a:hover {
  --d: 100%;
  --t: 0%;
  transition: 0.3s, background-size 0.3s 0.2s;
}
.btn_header {
  display: flex;
  gap: 30px;
}
.btn_header button {
  width: 130px;
  height: 50px;
  background-color: #fff;
}
.btn_header img {
  width: 40px;
}
.btn_login button {
  border-radius: 5px;
  border: 2px solid black;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn_login button:hover {
  font-size: 19px;
}
.btn_shop {
  text-decoration: none;
}
.btn_shop button {
  border: 0;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  gap: 5px;
  cursor: pointer;
}
.btn_shop {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn_shop img {
  width: 30px;
  height: 30px;
}
.btn_shop {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn_shop img {
  width: 30px;
  height: 30px;
}
.btn_shop {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.btn_shop img {
  width: 30px;
  height: 30px;
}
.cart {
  position: relative;
  margin-left: 10px;
}
.cart-counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
}
.cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  display: none;
  z-index: 2;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cart-item span {
  font-size: 14px;
}
.cart-dropdown {
  display: none;
  position: absolute; /* Чтобы корзина выпадала под кнопкой */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.cart-dropdown.show {
  display: block; /* Показываем, когда добавлен класс show */
}
.buy-button {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
.container_home {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card_img {
  background: url(/img/WhatsApp\ Image\ 2024-09-01\ at\ 15.30.39.jpeg) no-repeat;
  height: 300px;
  width: 300px;
  background-size: cover;
  margin: 0 auto;
}
.card_img_2 {
  background: url(/img/WhatsApp\ Image\ 2024-09-30\ at\ 18.28.01.jpeg) no-repeat;
  height: 300px;
  width: 300px;
  background-size: cover;
  margin: 0 auto;
}
.img_left {
  width: 1200px;
  height: 800px;
  margin-top: 50px;
}
.card_img p,
.card_img_2 p {
  opacity: 0;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 300px;
  text-align: center;
  color: #fff;
  transition: 0.5s ease;
}
.img_right {
  margin-top: 50px;
}
.card_img:hover p,
.card_img_2:hover p {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.slider {
  width: 100%;
  max-width: 1150px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50px;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  display: block;
}

/* Navigation buttons */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.nav button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
}
.nav button img {
  width: 50px;
  height: 50px;
}
.container_cloth {
  margin-top: 50px;
  background: url(/img/16160cb34a7342ae84ffa48a39b8a298.png) no-repeat;
  height: 600px;
  padding: 70px 0px 0px 0px;
}
.img_cloth {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img_cloth img {
  transition: 0.3s ease;
}
.text_cloth {
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
.img_cloth img:hover {
  scale: 1.1;
}
.carousel-container {
  position: relative;
  width: 1680px;
  overflow: hidden;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-left: 0px;
}
.carousel img {
  width: 800px; /* 800px (width of container) / 5 images */
  height: 300px;
  margin: 0 10px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.arrow img {
  width: 40px;
  height: 40px;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  left: 1470px;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 20px;
  width: 100%;
  max-width: 1300px;
  margin-left: 100px;
  margin-top: 100px;
}
.product-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 350px;
}
.product-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.product-name {
  font-size: 18px;
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.product-rating img {
  width: 20px;
  height: 20px;
}
.product-rating,
.product-price {
  margin: 5px 0;
  font-size: 14px;
}
.add-to-cart-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
.product-price {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.text_comment {
  margin-right: 100px;
}
.text_comment img {
  width: 150px;
}
.text_comment h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.text_comment p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.comments-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 150px;
}
.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.comment-content {
  max-width: 100%;
}
.comment-content h4 {
  margin: 0 0 5px;
  font-size: 16px;
  color: #333;
}
.comment-content p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
.add-comment {
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.add-comment input,
.add-comment textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.add-comment button {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.message-sent {
  display: none;
  color: green;
  margin-top: 10px;
}
footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
footer h3 {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.footer-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-section {
  flex: 1;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
}
.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.footer-section p,
.footer-section a {
  font-size: 14px;
  color: #bbb;
  text-decoration: none;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.footer-section a:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}
.social-icons {
  margin-top: 20px;
}
.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.social-icons img:hover {
  transform: scale(1.3);
}
.footer-bottom {
  margin-top: 30px;
  font-size: 12px;
  color: #bbb;
}
/* Анимация для плавного появления */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  header {
    height: auto;
    padding: 10px;
  }

  .logo {
    width: 70px;
    height: 60px;
  }

  .btn_header {
    flex-direction: column;
    gap: 15px;
  }

  .btn_header button {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }

  .cart-counter {
    font-size: 10px;
    padding: 2px 5px;
  }

  .cart-dropdown {
    width: 250px;
    right: 10px;
    top: 50px;
  }

  .cart-item {
    font-size: 1px;
  }

  .buy-button {
    font-size: 16px;
  }

  /* Анимация для появления корзины */
  .cart-dropdown {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .cart-dropdown.show {
    opacity: 1;
    display: block;
  }
  .container_home {
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
  }
  .img_left {
    height: 300px; /* Уменьшаем высоту для мобильных */
    width: 650px;
    margin-left: 0;
  }
  .img_right {
    display: flex;
    margin-top: 50px;
  }
  .card_img,
  .card_img_2 {
    width: 200px;
    height: 200px;
  }
  .card_img p,
  .card_img_2 p {
    font-size: 15px; /* Уменьшаем размер шрифта */
    height: 200px;
  }
  .nav button img {
    width: 30px; /* Уменьшаем размер стрелок */
    height: 30px;
  }
  .cart-dropdown {
    width: 100%; /* Растягиваем на всю ширину экрана на мобильных */
    left: 0;
  }

  button {
    width: 100%;
  }
  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-left: 0px;
  }
  .carousel img {
    width: 300px; /* 800px (width of container) / 5 images */
    height: 200px;
    margin: 0 10px;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .arrow img {
    width: 30px;
    height: 30px;
  }
  .arrow.left {
    left: -360px;
  }
  .arrow.right {
    right: -360px;
  }
  .container_cloth {
    margin-top: 50px;
    background: url(/img/16160cb34a7342ae84ffa48a39b8a298.png) no-repeat;
    height: 400px;
    padding: 70px 0px 0px 0px;
  }
  .img_cloth {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img_cloth img {
    transition: 0.3s ease;
    width: 200px;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0px;
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
  }
  .product-card {
    background-color: white;
    border: 1px solid #ccc;

    text-align: center;
    width: 200px;
  }
  .product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .product-name {
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .product-rating img {
    width: 20px;
    height: 20px;
  }
  .product-rating,
  .product-price {
    margin: 5px 0;
    font-size: 8px;
  }
  .add-to-cart-btn {
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  .product-price {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .text_comment {
    margin-right: 0px;
  }
  .text_comment img {
    width: 100px;
  }
  .text_comment h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
  }
  .text_comment p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
  }
  .comments-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 150px;
  }
  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .comment-content {
    max-width: 100%;
  }
  .comment-content h4 {
    margin: 0 0 5px;
    font-size: 14px;
    color: #333;
  }
  .comment-content p {
    margin: 0;
    font-size: 12px;
    color: #666;
  }
  .add-comment {
    margin-top: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .add-comment input,
  .add-comment textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  .add-comment button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .message-sent {
    display: none;
    color: green;
    margin-top: 10px;
  }
}
